{% load staticfiles %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{% static "blog/favicon.ico" %}">

    <title>{{ btitle }}</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "blog/dist/css/bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "blog/dist/css/bootstrap-theme.css" %}" rel="stylesheet">
    <link href="{% static "blog/custom.css" %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <!-- link href="sticky-footer-navbar.css" rel="stylesheet"-->

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Wrap all page content here -->
    <div id="wrap">
      <!-- Fixed navbar -->
      <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ blink }}">{{ btitle }}</a>
            </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
            {% if Nav %}
                {% for link in Nav %}
                    {% if link.nav_set.all %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ link.nav_title }}<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                        {% for n in link.nav_set.all %}
                                <li><a href="{{ n.nav_url }}">{{ n.nav_title }}</a></li>
                        {% endfor %}
                            
                            </ul>
                        </li>
                    {% else %}
                        {% if link.nav_dropdown == None %}
                        
                        <li><a href="{{ link.nav_url }}">{{ link.nav_title }}</a></li>
                         {% endif %}
                    {% endif %}
      
                {% endfor %}

            {% else %}

            {% endif %}
               
            </ul>
          </div><!--/.nav-collapse -->
            

              
            
        </div>
      </div>
      <!-- Begin page content -->
        <div class="container">
            <div class="page-header">
                <h1>{% block ptitle %} Development Page {% endblock %}</h1>
            </div>
        
        
            <div class="container">
                {% block content %} Development Page {% endblock %}
            </div>
        
        </div>
    </div>

 
 
 
     <div id="footer">
      <div class="container">
        <p class="text-muted">{% block sticky %} Development Page {% endblock %}</p>
      </div>
    </div>
 
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static "blog/dist/js/bootstrap.js" %}"></script>
  </body>
</html>