N{% extends "blog/head.html" %}
{% block ptitle %}Blog Entries{% endblock %}

{% block content %}
{% if posts %}

    {% for post in pages %}
    

        <b></b><a href="{% url 'blog:detail' post.id %}">{{ post.post_title }}</a></b><br>
        Written By: {{ post.post_author }} <br><br>
        <div>{{ post.post_body }}</div> <br><br><br>
    {% endfor %}
    </ul>
{% else %}
    <p>No posts are available.</p>
{% endif %}
{% endblock %}

{% block sticky %}

    <span class="step-links">
        {% if pages.has_previous %}
            <a href="?page={{ pages.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ pages.number }} of {{ pages.paginator.num_pages }}.
        </span>

        {% if pages.has_next %}
            <a href="?page={{ pages.next_page_number }}">next</a>
        {% endif %}
    </span>


{% endblock %}


